<!doctype html>

<html>

  <head>
    <link rel="stylesheet" href="css/days.css">
  </head>

  <body>
    <div class="content">
      <div class="header">
        <div class="quote-top">
          <span class="text">{{quotes.[0].text}}</span>
          <span class="author"> - {{quotes.[0].author}}</span>
        </div>
        <div class="type">Week {{type}}</div>
      </div>
      <div class="week">
        {{#each days}}
          <div class="day">
            <div class="name">{{name}}</div>
            <div class="info">{{info}}</div>

            {{#times 8}}
              <div class="line"></div>
            {{/times}}
          </div>
        {{/each}}
      </div>
      <div class="quote-bottom">
        <span class="text">{{quotes.[1].text}}</span>
        <span class="author">- {{quotes.[1].author}}</span>
      </div>
    </div>
  </body>

</html>
